<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="/public/ckeditor.js"></script>
    <title>MyJournal | Articles</title>
    <style>
      .ck.ck-content {
        min-height: 600px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container mx-auto">
        <a class="navbar-brand" href="/"
          >My <strong class="text-primary">Journal</strong></a
        >
      </div>
    </nav>
    <div class="container mx-auto py-4">
      <form action="/add" method="post">
        <input
          class="form-control form-control-lg mb-4"
          name="title"
          type="text"
          placeholder="Your title"
          aria-label="Title"
        />
        <div class="mb-4">
          <textarea name="body" id="editor"></textarea>
        </div>
        <p class="text-end">
          <input type="submit" value="Create article" class="btn btn-primary" />
        </p>
      </form>
    </div>
    <div id="root"></div>
    <script src="/dist/add.js">

    </script>
    <!-- <script> -->
      <!-- ClassicEditor.create(document.querySelector("#editor")).catch((error) => { -->
        <!-- console.error(error); -->
      <!-- }); -->
    <!-- </script> -->
  </body>
</html>
