<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>MyJournal | Articles</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container mx-auto">
        <a class="navbar-brand" href="/">
          My <strong class="text-primary">Journal</strong>
        </a>
      </div>
    </nav>
    <div id="root"><%- SSR %></div>
    <script id="__DATA__" type="application/json">
      <%- JSON.stringify(data) %>
    </script>
    <script src="/dist/articles.js"></script>
  </body>
</html>
